Repository stackhpc/magnum: changes, and which Zuul jobs are due for each by the changed paths.
All: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

magnum-functional-base:
  parent: legacy-dsvm-base
  timeout: 7800
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack/devstack-gate
  - openstack/diskimage-builder
  - openstack/ironic
  - openstack/ironic-lib
  ...

magnum-functional-base-python2:
  parent: legacy-dsvm-base
  timeout: 7800
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack/devstack-gate
  - openstack/diskimage-builder
  - openstack/ironic
  - openstack/ironic-lib
  ...

magnum-functional-multinode-base:
  parent: legacy-dsvm-base-multinode
  timeout: 7800
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack/devstack-gate
  - openstack/diskimage-builder
  - openstack/ironic
  - openstack/ironic-lib
  ...

magnum-functional-api:
  parent: magnum-functional-base
  vars:
    coe: api

magnum-functional-api-python2:
  parent: magnum-functional-base-python2
  vars:
    coe: api

magnum-functional-coe:
  parent: magnum-functional-base
  nodeset:
    nodes:
    - name: primary
      label: ubuntu-bionic-vexxhost

magnum-functional-k8s:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: k8s

magnum-functional-swarm-mode:
  parent: magnum-functional-coe
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: swarm-mode

magnum-functional-dcos:
  parent: magnum-functional-coe
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: dcos

magnum-functional-mesos:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: mesos

magnum-functional-swarm:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: swarm

magnum-functional-k8s-ironic:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: k8s
    ironic: 1

magnum-functional-swarm-ironic:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: swarm
    ironic: 1

magnum-functional-k8s-multinode:
  parent: magnum-functional-multinode-base
  voting: false
  vars:
    coe: k8s

magnum-functional-swarm-mode-multinode:
  parent: magnum-functional-multinode-base
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: swarm-mode

magnum-container-build:
  pre-run: playbooks/container-builder-setup-gate.yaml
  run: playbooks/container-builder.yaml
  post-run: playbooks/container-builder-copy-logs.yaml
  roles:
  - zuul: openstack/openstack-zuul-jobs
  timeout: 1200

magnum-container-publish:
  parent: magnum-container-build
  post-run: playbooks/container-publish.yaml
  secrets:
  - magnum_docker_login
  timeout: 1200

Use ssh_cmd to get kubelet version
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix flake8: Too many blank lines
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Removed appending to ca.cart
  magnum/drivers/common/templates/kubernetes/fragments/make-cert-client.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Run podman run --rm for kubelet version
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Update magnum k8s monitoring infra
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/helm/prometheus-operator.sh
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

coredns: Use /run/systemd/resolve/resolv.conf
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

autoscaler: Update manifest per upstream
  magnum/drivers/common/templates/kubernetes/fragments/enable-auto-scaling.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Update magnum k8s monitoring infra
  doc/source/user/index.rst
  doc/source/user/monitoring.rst
  magnum/drivers/common/templates/kubernetes/helm/prometheus-adapter.sh
  magnum/drivers/common/templates/kubernetes/helm/prometheus-operator.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  releasenotes/notes/update-monitoring-charts-1067dc4a0f0060b6.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

upgrade coredns
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Support extra_network and extra_subnet labels
  doc/source/user/index.rst
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/extra-network-interface-68bc169cb467a13e.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix containerd runtime for releases older than 1.27
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Migrate from wsgi scripts to module paths
  devstack/lib/magnum
  magnum/wsgi/api.py
  releasenotes/notes/deprecate-magnum-api-wsgi-entrypoint-25878b2d8b7d30b3.yaml
  tox.ini
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Drop Kubernetes v1.27 tests
  .zuul.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Bump golang builder to 1.24.3
  dockerfiles/cluster-autoscaler/Dockerfile
Due: magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Cherry pick patch (89f185b1972db25c8af84c7ca50c5ffc2af65613)
  magnum/common/x509/operations.py
  magnum/tests/unit/common/x509/test_sign.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix repeated keystone re-auth on every policy enforcement
  magnum/common/policy.py
  magnum/db/sqlalchemy/api.py
  magnum/tests/base.py
  magnum/tests/conf_fixture.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix per request RPCClient construction
  magnum/common/rpc_service.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Cache nodegroups per Cluster object instance
  magnum/api/controllers/v1/cluster.py
  magnum/objects/cluster.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

feat: automatic update of workflows stackhpc/2026.1
  .github/workflows/tag-and-release.yml
  .github/workflows/tox.yml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

feat: automatic update of community files stackhpc/2026.1
  .github/CODEOWNERS
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Copy labels instead of re-using dict for cluster and nodegroup
  magnum/api/controllers/v1/cluster.py
  magnum/api/controllers/v1/nodegroup.py
  magnum/conductor/utils.py
  magnum/tests/unit/api/controllers/v1/test_cluster.py
  magnum/tests/unit/api/controllers/v1/test_nodegroup.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

devstack: Add function to copy kubeconfig from d-p-c k8s-capi
  devstack/lib/magnum
  devstack/plugin.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Improve cluster type not supported error message
  magnum/common/exception.py
  magnum/drivers/common/driver.py
  magnum/tests/unit/api/test_validation.py
  releasenotes/notes/improve-cluster-type-not-supported-message-ef529377d4c672cb.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Raise clear error when image os_distro is unset
  magnum/api/validation.py
  magnum/tests/unit/api/test_validation.py
  releasenotes/notes/clarify-unset-os-distro-error-2f1a7b6e9c3d4f81.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Path conditions:
  magnum-functional-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-base-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-multinode-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-coe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-k8s: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-dcos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm.*$
  magnum-functional-mesos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/swarm.*$
  magnum-functional-swarm: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v2/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$
  magnum-container-build: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$
  magnum-container-publish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$
