Repository stackhpc/magnum: changes, and which Zuul jobs are due for each by the changed paths.
All: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Path conditions:
  magnum-functional-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-base-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-multinode-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-coe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-k8s: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-dcos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm.*$
  magnum-functional-mesos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/swarm.*$
  magnum-functional-swarm: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v2/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$
  magnum-container-build: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$
  magnum-container-publish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$

[k8s] Add vnic_type label to support SR-IOV ports
  doc/source/user/index.rst
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/vnic-type-ab55eee505bee5e5.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Support extra_network and extra_subnet labels
  doc/source/user/index.rst
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/extra-network-interface-68bc169cb467a13e.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Upgrade to calico_tag=v3.18.0
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/calico-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  releasenotes/notes/calico-3.18-193c895134e9c3c1.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add support for choosing Octavia provider
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-octavia.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/common/templates/lb_api.yaml
  magnum/drivers/common/templates/lb_etcd.yaml
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/octavia-provider-3984ee3bf381ced1.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Workaround for allowed address pairs bug
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Add support for disabling Octavia healthcheck
  doc/source/user/index.rst
  magnum/drivers/common/templates/lb_api.yaml
  magnum/drivers/common/templates/lb_etcd.yaml
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Workaround: use cloud-provider-openstack from stackhpc dockerhub
  magnum/drivers/common/templates/kubernetes/fragments/kube-apiserver-to-kubelet-role.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Revert "[K8S] Enable --use-service-account-credentials"
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add stub cluster_api driver
  magnum/drivers/cluster_api/__init__.py
  magnum/drivers/cluster_api/driver.py
  magnum/tests/unit/drivers/test_template_definition.py
  setup.cfg
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Update flannel version to 0.15.1
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/calico-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/magnum
  releasenotes/notes/calico-3.18-193c895134e9c3c1.yaml
  releasenotes/notes/calico-3.21.2-193c895134e9c3c1.yaml
  releasenotes/notes/update-flannel-version.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Update flannel version to 0.15.1
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  releasenotes/notes/update-flannel-version.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Fix POD to POD networking with ML2/OVN
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Upgrade to calico_tag=v3.21.2
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/calico-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/magnum
  releasenotes/notes/calico-3.18-193c895134e9c3c1.yaml
  releasenotes/notes/calico-3.21.2-193c895134e9c3c1.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add support for disabling Octavia healthcheck
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/common/templates/lb_api.yaml
  magnum/drivers/common/templates/lb_etcd.yaml
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add support for choosing Octavia provider
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/common/templates/lb_api.yaml
  magnum/drivers/common/templates/lb_etcd.yaml
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/octavia-provider-3984ee3bf381ced1.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add support for setting octavia_lb_algorithm
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/common/templates/lb_api.yaml
  magnum/drivers/common/templates/lb_etcd.yaml
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/lb-algorithm-36a15eb21fd5c4b1.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add support for disabling Octavia healthcheck
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/common/templates/lb_api.yaml
  magnum/drivers/common/templates/lb_etcd.yaml
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubeminion.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix kubelet on FCOS 34
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

fix typos related to ovn loadbalancer
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add support for k8s v1.22 and fcos 35
  devstack/plugin.sh
  doc/source/contributor/quickstart.rst
  doc/source/user/monitoring.rst
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-cinder-csi.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-traefik.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-keystone-auth.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-prometheus-monitoring.sh
  magnum/drivers/common/templates/kubernetes/fragments/flannel-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-apiserver-to-kubelet-role.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
  magnum/drivers/common/templates/kubernetes/helm/metrics-server.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/tests/contrib/gate_hook.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Fix disabled SMT on Fedora CoreOS
  doc/source/user/index.rst
  magnum/drivers/k8s_fedora_coreos_v1/templates/fcct-config.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/user_data.json
  releasenotes/notes/fedora-coreos-34-cb0d281d819e2523.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Update magnum k8s monitoring infra
  doc/source/user/index.rst
  doc/source/user/monitoring.rst
  magnum/drivers/common/templates/kubernetes/helm/prometheus-adapter.sh
  magnum/drivers/common/templates/kubernetes/helm/prometheus-operator.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  releasenotes/notes/update-monitoring-charts-1067dc4a0f0060b6.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Upgrade chart source and version
  magnum/drivers/common/templates/kubernetes/helm/ingress-nginx.sh
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  releasenotes/notes/ingress-ngnix-de3c70ca48552833.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

CoreDNS support EndpointSlices
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix CoreDNS 1.7.0 and above
  .vscode/settings.json
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

upgrade coredns
  .vscode/settings.json
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

Add resource requests for system components
  magnum/drivers/common/templates/kubernetes/fragments/enable-auto-scaling.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-cinder-csi.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-helm-tiller.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-octavia.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-traefik.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-apiserver-to-kubelet-role.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-dashboard-service.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Adapt Cinder CSI to upstream manifest
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/enable-cinder-csi.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubemaster.yaml
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Disable and stop docker when the CRI is containerd
  magnum/drivers/common/templates/kubernetes/fragments/install-cri.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Removed appending to ca.cart
  magnum/drivers/common/templates/kubernetes/fragments/make-cert-client.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Containerd cni plugin path in CoreOS 35
  magnum/drivers/common/templates/kubernetes/fragments/install-cri.sh
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix metrics address and ports post 1.20
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/helm/prometheus-operator.sh
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Update magnum k8s monitoring infra
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/helm/prometheus-operator.sh
  magnum/drivers/k8s_fedora_coreos_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Revert "Merge pull request #39 from stackhpc/fix_smt_on_fedora_coreos"
  doc/source/user/index.rst
  magnum/drivers/k8s_fedora_coreos_v1/templates/fcct-config.yaml
  magnum/drivers/k8s_fedora_coreos_v1/templates/user_data.json
  releasenotes/notes/fedora-coreos-34-cb0d281d819e2523.yaml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

feat: automatic update of workflows stackhpc/wallaby
  .github/workflows/tag-and-release.yml
  .github/workflows/tox.yml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish

feat: automatic update of workflows stackhpc/victoria
  .github/workflows/tag-and-release.yml
  .github/workflows/tox.yml
Due: magnum-functional-base, magnum-functional-base-python2, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-api-python2, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, magnum-container-build, magnum-container-publish
